<section class="todoapp">
	<header class="header">
		<h1>todos</h1>
	</header>
	
	<section class="main">
		<ul class="todo-list">

		</ul>
	</section>
</section>

<script>
	$(function() {
		$.get('/tasks').success(function(data){
			function taskHtml(task) {
				return '<li><div class="view"><input class="toggle" type="checkbox" ' +
						'data-id="' + task.id + '" ' +
						(task.done ? 'checked' : '') +
						'><label>' +
						task.title +
						'</label></div></li>';
			}

			function toggleTask(e) {
				$.post('/tasks/' + $(e.target).data('id'), {
					_method: 'PUT',
					task: { done: Boolean($(e.target).is(':checked')) }
				});
			}

			let htmlString = '';
			$.each(data, function(index, task) {
				htmlString += taskHtml(task);
			});
			$('.todo-list').html(htmlString);

			$('.toggle').change(toggleTask);
		});
	});
</script>