<section class="todoapp">
	<header class="header">
		<h1>todos</h1>
		<form id="new-form">
			<input type="text" class="new-todo" placeholder="What needs to be done?" />
		</form>
	</header>
	
	<section class="main">
		<ul class="todo-list">

		</ul>
	</section>
</section>

<section class="author">
	<p>A <%= link_to "todo-mvc", "http://todomvc.com" %></p>
	<p>application, built by</p>
	<%= link_to "Vincent Slifer", "http://github.com/VinSlif" %>
</section>